FORTY_TWO_CLIENT_ID=
FORTY_TWO_CLIENT_SECRET=

FORTY_TWO_REDIRECT_URI=http://localhost:3000/api/callback

# FORTY_TWO_REDIRECT_URI=https://codexion-visualizer.sacha-dev.me/api/callback

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
GITHUB_TOKEN=
DEV_COUNTRY=