FORTY_TWO_CLIENT_ID=
FORTY_TWO_CLIENT_SECRET=

FORTY_TWO_REDIRECT_URI=http://localhost:3000/api/callback

# FORTY_TWO_REDIRECT_URI=https://codexion-visualizer.sacha-dev.me/api/callback

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

VITE_FIREBASE_API_KEY=AIzaSyCScruCG_slzcz2rGUO2Dn4rCyIFy2Embs
VITE_FIREBASE_AUTH_DOMAIN=codexion-visualizer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=codexion-visualizer
VITE_FIREBASE_STORAGE_BUCKET=codexion-visualizer
VITE_FIREBASE_MESSAGING_SENDER_ID=1096960529525
VITE_FIREBASE_APP_ID=1:1096960529525:web:f8468687b9385324bb943c
